@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue-color: #0065fe;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.button{
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-color);
}

.button_blue {
    background-color: var(--blue-color);
    color: #fff;
}

.button_white {
    color: var(--blue-color);
    
}


/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;  
}

.nav_logo{
    font-size: 20px;
    font-weight: bold;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav_logo img {
    height: 20px;
    margin-right: 8px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.navbar ul span {
    color: var(--blue-color);
    
}

.navbar ul li{
    margin: 0 15px;
}

.navbar ul a {
    text-decoration: none;
    color: #141414;
}

.navbar ul li i {
    font-size: 20px;
}

.navbar .buttons {
    display: flex;
    align-items: center;
}


/* Hero Section */

.hero_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.hero_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.hero_header h1{
    font-size: 40px;
    line-height: 90px;
    max-width: 1000px;
    text-align: center; 
}

.hero span {
    color: var(--blue-color);
}

.hero .splash {
    position: absolute;
    top: 190px;
}
.hero p{
    text-align: center;
    max-width: 750px;
}

.hero_buttons {
    margin-top: 20px;
}

.hero_desc {
    max-width: 700px;
    height: 224px;
    padding: 40px 60px;
    border: 0.5px solid #005ae2;
    border-radius: 24px;
    align-self: flex-end;
    position: relative;
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #fefefe 70%, transparent );
}

.bk_drop{
    z-index: -1;
    position: absolute;
    top: -13px;
    left: 3px;
}

.link_items {
    display: flex;
    align-items: center;
}

.link_item {
    width: 80px;
    margin-left: -10px;
}

.link_item:first-child {
    margin-left: 0;
}

.link_items i {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--blue-color);
}

.shape_1{
    width: 100%;
    /* background-color: #f8f7f7; */
    /* height: 73px; */
    margin-top: 30px;
    border-bottom: 50px solid #f8f7f7;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
}

/* Features Section */

.features_wrapper {
    background-color: #f9fbfd;
    height: 200px;
    display: flex;
    align-items: center;
}

.features_header{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 50px;  
}

.features_header h1,
.plans_header h1 {
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
}

.features_header h1 span{
    color: var(--blue-color);
}


.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.features_desc{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 50px;
    padding: 100px 0;
}

.features_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.plans_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 570px;
    text-align: center;
    padding-bottom: 50px;
}

.blue_text {
    color: var(--blue-color);
}

/* .divider {
    width: 5px;
    height: 30px;
    background: linear-gradient(#4d6b88, #112232);
    margin-right: 10px;
} */

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.card_grid {
    display: flex;
    align-items: center;
}

.plans_card{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #f3f3f3;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_heading {
    font-size: 20px;
}

.plans_card ul {
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    line-height: 24px;
}

.plans_card ul li{
    margin-bottom: 10px;
}

.plans_card ul li i{  
    margin-right: 10px;
}

.plans_card p{
    margin: 0;
}

.card_primary {
    background-color: #1e3448;
    z-index: 1;
    color: #fff;
    padding: 6rem 3rem;
    transform: scale(1.1);
    transition: 0.5s ease-in;
}

.card_primary:hover{
    transform: scale(1.2);
}

.card_secondary{
    border: 0.4px solid var(--blue-color);
    padding: 2rem 3rem;
    
    transition: 0.5s ease-in;
}

.card_secondary:hover{
    transform: scale(1.1);
}

.list_primary {
    color: #fff;
}

.list_secondary i{
    color: var(--blue-color);
}


.plans_buttons {
    margin-top: 50px;
    padding-top: 50px;
}

.trim_url {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1e3448, #1e3448);
    padding: 40px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.trim_card {
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    max-width: 476px;
    z-index: 1;
}

.trim_image-1 {
    position: absolute;
    rotate: -90deg;
    top: -20px;
    left: -200px;
}

.trim_image-2 {
    position: absolute;
    bottom: 0;
    right: -150px;
}


.input_field, .drop_down {
    color: var(--blue-color);
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid var(--blue-color);
    font-size: 12px;
}

.drop_down {
    font-size: 14px;
}

.input_group {
    display: flex;
    gap: 10px;
}

.trim_btn {
    width: 100%;
    border-radius: 20px;
    padding: 12px 24px;
    border-style: none;
    background-color: var(--blue-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}

.trim_url p{
    color: var(--blue-color);
    padding: 10px;
    font-size: 14px;
}


/* FAQ */

.faq_section {
    width: 60%;
    margin: 50px auto;
}


.faq_title {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 5px;
    height: 30px;
    background: linear-gradient(#4d6b88, #112232);
    margin-right: 10px;
}

.faq {
    margin-top: 20px;
}

.faq_item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.faq_question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_answer {
    margin-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #333;
}


.icon {
    font-size: 24px;
    font-weight: 100;
}


.faq_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1e3448, #1e3448);
    height: 299px;
    position: relative;
}

.faq_footer h1 {
    font-size: 40px;
    color: #fff;
}

.faq_footer .bg_image-1{
    position: absolute;
    left: 0;
}

.faq_footer .bg_image-2{
    position: absolute;
    right: 0;
}


/* Footer */

footer {
    display: grid;
    grid-template-columns: 184px  1fr;
    gap: 50px; 
    padding-top: 95px;
    align-items: baseline;
}

.footer_logo {  
    color: #000;
}

.footer_logo img {
    filter: grayscale(100%) brightness(0%);
}

.socials {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.socials a{
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.footer_content_grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.footer_content-item h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.footer_content-item ul {
    list-style: none;
    padding-left: 0;
    line-height: 24px;
    font-size: 16px;
}


.footer_base {
    display: flex;
    align-items: center;
}
