@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue-color: #0065fe;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.button{
    text-decoration: none;
    margin-left: 5px;
    
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-color);
}

.button_blue {
    background-color: var(--blue-color);
    color: #fff;
    padding: 8px 30px;
}

.button_white {
    color: var(--blue-color); 
    padding: 8px 30px;
}

.button_white-border{
    border: 1px solid var(--blue-color);
    padding: 8px 20px;
}


/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;  
}

.nav_logo{
    font-size: 20px;
    font-weight: bold;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav_logo img {
    height: 20px;
    margin-right: 8px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.navbar ul span {
    color: var(--blue-color);
    
}

.navbar ul li{
    margin: 0 15px;
}

.navbar ul a {
    text-decoration: none;
    color: #141414;
}

.navbar ul li i {
    font-size: 20px;
}

.navbar .buttons {
    display: flex;
    align-items: center;
}


/* Hero Section */

.hero_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.hero_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.hero_header h1{
    font-size: 40px;
    line-height: 90px;
    max-width: 1000px;
    text-align: center; 
}

.hero span {
    color: var(--blue-color);
}

.hero .splash {
    position: absolute;
    top: 190px;
}
.hero p{
    text-align: center;
    max-width: 750px;
}

.hero_buttons {
    margin-top: 20px;
}

.hero_desc {
    max-width: 700px;
    height: 224px;
    padding: 40px 60px;
    border: 0.5px solid #005ae2;
    border-radius: 24px;
    align-self: flex-end;
    position: relative;
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #fefefe 70%, transparent );
}

.bk_drop{
    z-index: -1;
    position: absolute;
    top: -13px;
    left: 3px;
}

.link_items {
    display: flex;
    align-items: center;
}

.link_item {
    width: 80px;
    margin-left: -10px;
}

.link_item:first-child {
    margin-left: 0;
}

.link_items i {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--blue-color);
}

.shape_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shape_1{
    width: 100%;
    margin-top: 30px;
    border-bottom: 75px solid #f8f7f7;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
}

.shape_2 {
    background: linear-gradient(to bottom, #e2e9f0, #dce4eb, #e2e9f0);
    height: 40px;
    width: 65%;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 #12245959;
    position: absolute;
    top: 48px;
    z-index: 1;
}

/* Features Section */

.features_wrapper {
    background-color: #f9fbfd;
    height: 200px;
    display: flex;
    align-items: center;
    
}

.features_header{
    display: grid;
    grid-template-columns: 337px 1fr;
    gap: 70px; 
    padding: 0 30px; 
    width: 100%;
    background-color: #F9FBFD;
}

.features_header h1 {
    font-size: 35px;
    line-height: 20px;
    font-weight: 700;
}

.features_title h1{
    font-size: 35px;
}
.features_title p{
    margin-left: 20px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.features_desc{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 50px;
    padding: 100px 30px;
}

.features_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}


/* Plans */
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 100px;
}

.plans_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
    padding-bottom: 50px;
}

.plans_header h1 {
    font-size: 35px;
}

.blue_text {
    color: var(--blue-color);
}

.line {
    display: inline-block;
    width: 5px;
    height: 30px;
    background: linear-gradient(to bottom, #112232, transparent);
    margin-right: 10px;
}

.card_grid {
    display: flex;
    align-items: center;
}

.plans_card{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #f3f3f3;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_heading {
    font-size: 20px;
}

.plans_card ul {
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    line-height: 24px;
}

.plans_card ul li{
    margin-bottom: 10px;
}

.plans_card ul li i{  
    margin-right: 10px;
}

.plans_card p{
    margin: 0;
}

.card_primary {
    background-color: #1e3448;
    z-index: 1;
    color: #fff;
    padding: 6rem 3rem;
    transform: scale(1.1);
    transition: 0.5s ease-in;
}

.card_primary:hover{
    transform: scale(1.2);
}

.card_secondary{
    border: 0.4px solid var(--blue-color);
    padding: 2rem 3rem;
    
    transition: 0.5s ease-in;
}

.card_secondary:hover{
    transform: scale(1.1);
}

.list_primary {
    color: #fff;
}

.list_secondary i{
    color: var(--blue-color);
}


.plans_buttons {
    margin-top: 50px;
    padding-top: 50px;
}

.trim_url {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1e3448, #1e3448);
    padding: 40px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.trim_card {
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    max-width: 476px;
    z-index: 1;
}

.trim_image-1 {
    position: absolute;
    rotate: -90deg;
    top: -20px;
    left: -200px;
}

.trim_image-2 {
    position: absolute;
    bottom: 0;
    right: -150px;
}


.input_field, .drop_down {
    color: var(--blue-color);
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid var(--blue-color);
    font-size: 12px;
}

.drop_down {
    font-size: 14px;
}

.input_group {
    display: flex;
    gap: 10px;
}

input::placeholder {
    color: var(--blue-color);
}

input:focus {
   outline: none;
   border: 1px solid #f3f3f3;
}

select:focus {
    outline: none;
    border: 1px solid #f3f3f3;
}

.trim_btn {
    width: 100%;
    border-radius: 20px;
    padding: 12px 24px;
    border-style: none;
    background-color: var(--blue-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.trim_btn:hover {
    background-color: #ccc;
    color: var(--blue-color);
}

.trim_url p{
    color: var(--blue-color);
    padding: 10px;
    font-size: 14px;
}


/* FAQ */

.faq_section {
    max-width: 792px;
    margin: 50px auto;
}


.faq_title {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 5px;
    height: 30px;
    background: linear-gradient(to bottom, #112232, transparent);
    margin-right: 10px;
}

.faq {
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.faq_img-1{
    position: absolute;
    rotate: -110.54 deg;
    top: -200px;
}

.faq_img-2{
    position: absolute;
    right: 0;
    top: 450px;
}

.faq_item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.faq_question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_answer {
    margin-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #333;
}


.icon {
    font-size: 24px;
    font-weight: 100;
}


.faq_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1e3448, #1e3448);
    height: 299px;
    position: relative;
}

.faq_footer-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.faq_footer h1 {
    font-size: 40px;
    color: #fff;
}

.faq_footer .bg_image-1{
    position: absolute;
    left: 0;
}

.faq_footer .bg_image-2{
    position: absolute;
    right: 0;
}


/* Footer */

footer {
    position: relative;
    overflow: hidden;
}

.footer_container {
    display: grid;
    grid-template-columns: 184px  1fr;
    gap: 50px; 
    padding: 95px 50px 0;
    align-items: flex-start;
}

.footer_logo {  
    color: #000;
}

.footer_logo img {
    filter: grayscale(100%) brightness(0%);
}

.socials {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.socials a{
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 60px;
    justify-content: space-between;
}


.footer_content-item h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer_content-item ul {
    list-style: none;
    padding-left: 0;
    line-height: 24px;
    font-size: 16px;
}

.footer_img1{
    position: absolute;
    bottom: -30px;
    z-index: -1;
}

.footer_img2{
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: -1;
}

.footer_base {
    display: flex;
    justify-content: flex-end;
    padding: 20px 12px;
    margin-bottom: 30px;
}

/* Media Query */

/* For Tablet Devices */
@media screen and (min-width:600px) and (max-width: 1024px){
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .hero_header {
        padding: 0 30px;
    }

    .hero_desc {
        height: 224px;
        padding: 40px 60px;
        position: relative;
        margin: 40px 30px 30px;
    }

    .features_header {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 30px;
    }

    .features_header h1 {
        font-size: 30px;
    }

    .features_desc {
        grid-template-columns: 1fr;
    }
    
    .faq_section {
        padding: 0 30px;
    }

    .faq_footer-details {
        text-align: center;
    }

    .footer_container {
        grid-template-columns: 1fr;
        padding: 95px 30px 0;
    }
    .footer_base {
        display: flex;
        justify-content: center;
        padding: 20px 12px;
        margin-bottom: 30px;
    }
}

/* For Mobile Devices */
@media screen and (max-width: 599px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
    .hero_header {
        padding: 0 30px;
    }

    .hero_desc {
        padding: 40px 20px;
        position: relative;
        margin: 40px 30px 30px;
    }

    .shape_1 {
        width: 100%;
        border-bottom: 75px solid #f8f7f7;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        margin-bottom: 94px;
    }

    .link_item {
        width: 60px;
        margin-left: -8px;
    }

    .link-item2 {
        width: 60px;
    }

    .features_header {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 30px;
    }

    .features_header h1 {
        font-size: 30px;
    }

    .features_title h1 {
        font-size: 25px;
    }

    .features_desc {
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .card_grid {
        flex-direction: column;
        gap: 20px;
    }

    .plans_header h1 {
        font-size: 30px;
    }

    .plans_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .faq_section {
        padding: 0 30px;
    }

    .faq_footer-details {
        text-align: center;
    }

    .footer_container {
        grid-template-columns: 1fr;
        padding: 95px 30px 0;
    }

    .faq_footer h1 {
        font-size: 30px;
        color: #fff;
    }

    .footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 40px; 
    }

    .footer_base {
        display: flex;
        justify-content: center;
        padding: 20px 12px;
        margin-bottom: 30px;
    }
}

